<!DOCTYPE html>
<html>
<head>
    <title>Book Management System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="center-screen">
        <h2>書籍管理システムへようこそ！</h2>
        <p>ここでは、書籍の追加、閲覧、削除ができます。詳細は<a href="{{ url_for('help') }}">こちら</a>をクリックしてください。</p>
    </div>

    <h1>Book Management System</h1>
    <a href="{{ url_for('logout') }}">Logout</a>
    <form action="/add" method="post">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="author" placeholder="Author">
        <input type="text" name="published_date" placeholder="Published Date">
        <input type="text" name="isbn" placeholder="ISBN">
        <input type="submit" value="Add Book">
    </form>
    <ul>
        {% for book in books %}
        <li>
            {{ book.title }} by {{ book.author }} (Added on {{ book.added_date.strftime('%Y-%m-%d %H:%M:%S') }})
            <form action="/delete/{{ book.id }}" method="post">
                <input type="submit" value="Delete">
            </form>
            <form action="/add_log/{{ book.id }}" method="post">
                <input type="number" name="start_page" placeholder="Start Page">
                <input type="number" name="end_page" placeholder="End Page">
                <input type="text" name="comment" placeholder="Comment">
                <input type="submit" value="Add Reading Log">
            </form>
            <ul>
                {% for log in book.reading_logs %}
                <li>
                    Read from page {{ log.start_page }} to {{ log.end_page }} on {{ log.date.strftime('%Y-%m-%d %H:%M:%S') }}
                    <p>{{ log.comment }}</p>
                    <a href="{{ url_for('log_detail', log_id=log.id) }}">View Details</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
